<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/TallerM?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">KoHa-19</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="com.hibernate.entidades.Provedor"/>
    <mapping class="com.hibernate.entidades.Telefono"/>
    <mapping class="com.hibernate.entidades.Direccion"/>
    <mapping class="com.hibernate.entidades.Pedido"/>
    <mapping class="com.hibernate.entidades.Refaccion"/>
    <mapping class="com.hibernate.entidades.Reparacion"/>
    <mapping class="com.hibernate.entidades.Cliente"/>
    <mapping class="com.hibernate.entidades.Automovil"/>
    <mapping class="com.hibernate.entidades.Servicio"/>
    <mapping class="com.hibernate.entidades.Empleado"/>




  </session-factory>
</hibernate-configuration>
